/* src/styles/custom.css */
body {
    background-color: #18263b; /* White background */
    color: #333;            /* Dark gray text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0px;          /* Padding to prevent content from touching the edges */
  }
  
  h1 {
    color: #333;            /* Dark color for headings */
    text-align: center;     /* Center align the main heading */
  }
  
  .question-card {
    background-color: #f9f9f9; /* Light gray background for questions */
    border: 1px solid #ddd;    /* Border to separate questions */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin: 20px auto;
    width: 66%; 
  }
  
  .question-text {
    font-size: 16px;           /* Larger text for question */
    color: #333;
  }
  
  .answer-text {
    font-size: 14px;
    color: #666;               /* Slightly lighter color for answers */
    display: none;             /* Initially hide the answer */
  }
  
  .answer-text.visible {
    display: block;
  }  

  .button {
    background-color: #007BFF; /* Blue background for buttons */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .score {
    font-size: 20px;
    color: #333;
    text-align: center;         /* Centering score display */
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logo {
    width: auto;
    height: auto;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
  }

  .auth-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .login-text {
    margin-top: 4px;
    font-size: 0.8em;
  }

  .header div {
    display: flex;
    gap: 10px;
  }
  
  .content {
    padding-top: 00px; /* Adjust this value based on the actual height of your header */
    padding-bottom: 50px;
  }
  
.footer {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hero-image {
  padding-top: 50px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;  
  height: auto; 
  margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .logo {
    width: 60px; /* Smaller size on smaller screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 70px; /* Medium size on medium screens */
  }
}

@media (min-width: 1025px) {
  .logo {
    width: 5vw; /* Scale based on viewport width on larger screens */
  }
}

  